{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/StuffCool/?utm_source=stuffcool_blog&utm_medium=stuffcool_blog&utm_term=stuffcool_blog&utm_content=stuffcool_blog&utm_campaign=stuffcool_blog
" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/stuffcool/?utm_source=stuffcool_blog&utm_medium=stuffcool_blog&utm_term=stuffcool_blog&utm_content=stuffcool_blog&utm_campaign=stuffcool_blog" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}


	{{!Paste your new social icon here}}
    {{!Begin Social item}}
	<li class="instagram">
		<a href="https://www.instagram.com/stuffcool/?utm_source=stuffcool_blog&utm_medium=stuffcool_blog&utm_term=stuffcool_blog&utm_content=stuffcool_blog&utm_campaign=stuffcool_blog" target="_blank" title="Instagram"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-instagram"></i>
		</a>
	</li>
    <li class="youtube">
    <a href="https://www.youtube.com/user/Stuffcoolvideos/?utm_source=stuffcool_blog&utm_medium=stuffcool_blog&utm_term=stuffcool_blog&utm_content=stuffcool_blog&utm_campaign=stuffcool_blog" target="_blank" title="youtube"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
        <i class="fa fa-youtube"></i> {{!Change icon     for social item here}}
    </a>
</li>

	{{!End Social item}
</ul>
{{!End of Social Icon List}}