<div class="widget instagram">
	<h3 class="widget-title">Instagram</h3>
	<div class="widget-content">
		<ul class="instagram-feed"
			data-userid="stuffcool" {{! Change your instagram user name here}}
			data-api-token="182114636.3d49b79.f38ebd1a11d147f0bcd36e95a296738f" {{! Change your instagram api token here}}
			data-api-clientid="3d49b7970b814567a89fe15025bf9e36" {{! Change your instagram api clientid here}}
			data-mode="gallery"
			data-display="" {{! Change number of item that you want to display here}}
			data-cols="3" {{! Change number of columns that you want to display here}}
			data-popup-preview="true"
		>
		</ul>
		<a class="follow-box instagram" target="_blank"
			href="https://instagram.com/stuffcool" {{! Change instagram profile url here}}
		>
		Yeah, We're on Instagram! {{! Change text for follow button here}}
		</a>
	</div>
</div>