<div class="widget recent-tweets">
	<h3 class="widget-title">Recent Tweets</h3>
	<div class="widget-content">
		
       <a class="twitter-timeline" href="https://twitter.com/Stuffcool" data-widget-id="702761462154956800" height="257.75">Tweets by @Stuffcool</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
